.contact{
    margin-left: 1020px;
    border-style: dotted;
    border-color: #d8267d;
    border-width: 4px;
    height: auto;
    width: 230px;
    padding: 
}

.banner{
    margin-bottom: 20px;
    height: 250px;
    width: 1000px;
    float: left;
}

body{
    margin: 50px;
   background: linear-gradient(#0071a5, white 40%, #ff6a00 150%);
}

.container-fluid{
    background:  linear-gradient(#d8267d, white 60%); 
}

#80s_picture{
    width:400px;
    height:267px;
}

#schuur_picture{
    width:400px;
    height:267px;
}

#urban_picture{
    width:400px;
    height:267px;
}
#uitgaan{
    margin-top: 100px;
    float: 50%;
}

#contact{
    margin-top: 100px;
}

.achtergrond_80s{
    width: 640px;
    height: 480px;
    float: right;
    border-radius: 40px;
    border-style: ridge;
}