body{
    margin: 50px;
    background: linear-gradient(#0071a5, white 40%, #ff6a00 150%);
}

.container-fluid{
    background:  linear-gradient(#d8267d, white 60%); 
}

#80s_picture{
    width:400px;
    height:267px;
}

#schuur_picture{
    width:400px;
    height:267px;
}

#urban_picture{
    width:400px;
    height:267px;
}
#uitgaan{
    margin-top: 50px;
    float: 50%;
}

#contact{
    margin-top: 100px;
}

.achtergrond_80s{
    width: 640px;
    height: 480px;
    float: right;
    border-radius: 40px;
    border-style: ridge;
}

hr.style_hr {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

.menu_table{
    margin: 10px;   
}
